<a href="https://colab.research.google.com/github/Yash1289/rossmann_sales_prediction/blob/main/Rossmann_Sales_Prediction_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Sales Prediction : Predicting sales of a major store chain Rossmann</u></b>

## <b> Problem Description </b>

### Rossmann operates over 3,000 drug stores in 7 European countries. Currently, Rossmann store managers are tasked with predicting their daily sales for up to six weeks in advance. Store sales are influenced by many factors, including promotions, competition, school and state holidays, seasonality, and locality. With thousands of individual managers predicting sales based on their unique circumstances, the accuracy of results can be quite varied.

### You are provided with historical sales data for 1,115 Rossmann stores. The task is to forecast the "Sales" column for the test set. Note that some stores in the dataset were temporarily closed for refurbishment.

## <b> Data Description </b>

### <b>Rossmann Stores Data.csv </b> - historical data including Sales
### <b>store.csv </b> - supplemental information about the stores


### <b><u>Data fields</u></b>
### Most of the fields are self-explanatory. The following are descriptions for those that aren't.

* #### Id - an Id that represents a (Store, Date) duple within the test set
* #### Store - a unique Id for each store
* #### Sales - the turnover for any given day (this is what you are predicting)
* #### Customers - the number of customers on a given day
* #### Open - an indicator for whether the store was open: 0 = closed, 1 = open
* #### StateHoliday - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. a = public holiday, b = Easter holiday, c = Christmas, 0 = None
* #### SchoolHoliday - indicates if the (Store, Date) was affected by the closure of public schools
* #### StoreType - differentiates between 4 different store models: a, b, c, d
* #### Assortment - describes an assortment level: a = basic, b = extra, c = extended
* #### CompetitionDistance - distance in meters to the nearest competitor store
* #### CompetitionOpenSince[Month/Year] - gives the approximate year and month of the time the nearest competitor was opened
* #### Promo - indicates whether a store is running a promo on that day
* #### Promo2 - Promo2 is a continuing and consecutive promotion for some stores: 0 = store is not participating, 1 = store is participating
* #### Promo2Since[Year/Week] - describes the year and calendar week when the store started participating in Promo2
* #### PromoInterval - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [ ]:
path1 = "/content/drive/MyDrive/Rossmann Stores Data.csv"
Rossmann_df = pd.read_csv(path1 , low_memory = False)

In [ ]:
Rossmann_df.head()

   Store  DayOfWeek        Date  Sales  ...  Open  Promo  StateHoliday SchoolHoliday
0      1          5  2015-07-31   5263  ...     1      1             0             1
1      2          5  2015-07-31   6064  ...     1      1             0             1
2      3          5  2015-07-31   8314  ...     1      1             0             1
3      4          5  2015-07-31  13995  ...     1      1             0             1
4      5          5  2015-07-31   4822  ...     1      1             0             1

[5 rows x 9 columns]

In [ ]:
Rossmann_df.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday'],
      dtype='object')

In [ ]:
Rossmann_df.shape

(1017209, 9)

In [ ]:
path2 = "/content/drive/MyDrive/store.csv"
store_df = pd.read_csv(path2)

In [ ]:
store_df.head(20)

    Store StoreType  ... Promo2SinceYear     PromoInterval
0       1         c  ...             NaN               NaN
1       2         a  ...          2010.0   Jan,Apr,Jul,Oct
2       3         a  ...          2011.0   Jan,Apr,Jul,Oct
3       4         c  ...             NaN               NaN
4       5         a  ...             NaN               NaN
5       6         a  ...             NaN               NaN
6       7         a  ...             NaN               NaN
7       8         a  ...             NaN               NaN
8       9         a  ...             NaN               NaN
9      10         a  ...             NaN               NaN
10     11         a  ...          2012.0   Jan,Apr,Jul,Oct
11     12         a  ...          2010.0   Jan,Apr,Jul,Oct
12     13         d  ...          2009.0   Feb,May,Aug,Nov
13     14         a  ...          2011.0   Jan,Apr,Jul,Oct
14     15         d  ...          2011.0   Jan,Apr,Jul,Oct
15     16         a  ...             NaN               NaN
16     17         a  ...          2010.0   Jan,Apr,Jul,Oct
17     18         d  ...          2012.0   Jan,Apr,Jul,Oct
18     19         a  ...          2011.0  Mar,Jun,Sept,Dec
19     20         d  ...          2014.0   Jan,Apr,Jul,Oct

[20 rows x 10 columns]

In [ ]:
store_df.columns

Index(['Store', 'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [ ]:
store_df.shape

(1115, 10)

In [ ]:
Rossmann_df["Store"].value_counts()

1023    942
666     942
675     942
163     942
674     942
       ...
900     758
902     758
903     758
904     758
512     758
Name: Store, Length: 1115, dtype: int64

In [ ]:
Rossmann_df["DayOfWeek"].unique()

array([5, 4, 3, 2, 1, 7, 6])

In [ ]:
Rossmann_df[Rossmann_df["Store"] == 55].max()

Store                    55
DayOfWeek                 7
Date             2015-07-31
Sales                 10468
Customers              1189
Open                      1
Promo                     1
StateHoliday              c
SchoolHoliday             1
dtype: object

In [ ]:
Rossmann_df.shape

(1017209, 9)

In [ ]:
Rossmann_df[Rossmann_df.duplicated( subset = ["Store" , "Date"])]

Empty DataFrame
Columns: [Store, DayOfWeek, Date, Sales, Customers, Open, Promo, StateHoliday, SchoolHoliday]
Index: []

In [ ]:
pd.DataFrame(Rossmann_df.dtypes).rename(columns = {0:'dtype'})

                dtype
Store           int64
DayOfWeek       int64
Date           object
Sales           int64
Customers       int64
Open            int64
Promo           int64
StateHoliday   object
SchoolHoliday   int64

In [ ]:
Rossmann_df.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

In [ ]:
rossmann_sales_df = pd.merge(Rossmann_df , store_df , how = "left" , on="Store")
rossmann_sales_df.head()

   Store  DayOfWeek  ... Promo2SinceYear    PromoInterval
0      1          5  ...             NaN              NaN
1      2          5  ...          2010.0  Jan,Apr,Jul,Oct
2      3          5  ...          2011.0  Jan,Apr,Jul,Oct
3      4          5  ...             NaN              NaN
4      5          5  ...             NaN              NaN

[5 rows x 18 columns]

In [ ]:
rossmann_sales_df.shape

(1017209, 18)

In [ ]:
store_df.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [ ]:
rossmann_sales_df["Date"] = pd.to_datetime(rossmann_sales_df["Date"])

In [ ]:
rossmann_sales_df["Date"].max()

Timestamp('2015-07-31 00:00:00')

In [ ]:
rossmann_sales_df["Date"].min()

Timestamp('2013-01-01 00:00:00')

In [ ]:
rossmann_sales_df_new = rossmann_sales_df.copy()

In [ ]:
rossmann_sales_df_new = rossmann_sales_df_new.sort_values(by = "Date" )

In [ ]:
rossmann_sales_df.head(20)

    Store  DayOfWeek  ... Promo2SinceYear     PromoInterval
0       1          5  ...             NaN               NaN
1       2          5  ...          2010.0   Jan,Apr,Jul,Oct
2       3          5  ...          2011.0   Jan,Apr,Jul,Oct
3       4          5  ...             NaN               NaN
4       5          5  ...             NaN               NaN
5       6          5  ...             NaN               NaN
6       7          5  ...             NaN               NaN
7       8          5  ...             NaN               NaN
8       9          5  ...             NaN               NaN
9      10          5  ...             NaN               NaN
10     11          5  ...          2012.0   Jan,Apr,Jul,Oct
11     12          5  ...          2010.0   Jan,Apr,Jul,Oct
12     13          5  ...          2009.0   Feb,May,Aug,Nov
13     14          5  ...          2011.0   Jan,Apr,Jul,Oct
14     15          5  ...          2011.0   Jan,Apr,Jul,Oct
15     16          5  ...             NaN               NaN
16     17          5  ...          2010.0   Jan,Apr,Jul,Oct
17     18          5  ...          2012.0   Jan,Apr,Jul,Oct
18     19          5  ...          2011.0  Mar,Jun,Sept,Dec
19     20          5  ...          2014.0   Jan,Apr,Jul,Oct

[20 rows x 18 columns]

In [ ]:
index_places = rossmann_sales_df_new[rossmann_sales_df_new["Open"] == 0].index
rossmann_sales_df_new.drop(index_places , inplace = True )

In [ ]:
rossmann_sales_df.shape

(1017209, 18)

In [ ]:
rossmann_sales_df[rossmann_sales_df["Open"] == 0]

         Store  DayOfWeek  ... Promo2SinceYear     PromoInterval
291        292          5  ...             NaN               NaN
875        876          5  ...          2015.0   Feb,May,Aug,Nov
1406       292          4  ...             NaN               NaN
1990       876          4  ...          2015.0   Feb,May,Aug,Nov
2521       292          3  ...             NaN               NaN
...        ...        ...  ...             ...               ...
1017204   1111          2  ...          2013.0   Jan,Apr,Jul,Oct
1017205   1112          2  ...             NaN               NaN
1017206   1113          2  ...             NaN               NaN
1017207   1114          2  ...             NaN               NaN
1017208   1115          2  ...          2012.0  Mar,Jun,Sept,Dec

[172817 rows x 18 columns]

In [ ]:
rossmann_sales_df_new.shape

(844392, 18)

In [ ]:
rossmann_sales_df_new.head()

         Store  DayOfWeek  ... Promo2SinceYear     PromoInterval
1016447    353          2  ...          2013.0   Feb,May,Aug,Nov
1016429    335          2  ...          2013.0   Jan,Apr,Jul,Oct
1016606    512          2  ...          2013.0  Mar,Jun,Sept,Dec
1016588    494          2  ...             NaN               NaN
1016624    530          2  ...             NaN               NaN

[5 rows x 18 columns]

In [ ]:
rossmann_sales_df_new[rossmann_sales_df_new["CompetitionOpenSinceYear"] = 2013]

         Store  DayOfWeek  ... Promo2SinceYear     PromoInterval
1016517    423          2  ...             NaN               NaN
1016356    262          2  ...             NaN               NaN
1015348    369          3  ...             NaN               NaN
1015354    375          3  ...          2009.0   Jan,Apr,Jul,Oct
1015340    361          3  ...          2013.0   Feb,May,Aug,Nov
...        ...        ...  ...             ...               ...
714        715          5  ...             NaN               NaN
705        706          5  ...          2014.0  Mar,Jun,Sept,Dec
751        752          5  ...          2013.0   Feb,May,Aug,Nov
739        740          5  ...             NaN               NaN
744        745          5  ...          2009.0   Jan,Apr,Jul,Oct

[144767 rows x 18 columns]

In [ ]:
rossmann_sales_df_new[rossmann_sales_df_new["Store"] == 706]

         Store  DayOfWeek  ... Promo2SinceYear     PromoInterval
1015685    706          3  ...          2014.0  Mar,Jun,Sept,Dec
1014570    706          4  ...          2014.0  Mar,Jun,Sept,Dec
1013455    706          5  ...          2014.0  Mar,Jun,Sept,Dec
1012340    706          6  ...          2014.0  Mar,Jun,Sept,Dec
1010110    706          1  ...          2014.0  Mar,Jun,Sept,Dec
...        ...        ...  ...             ...               ...
5165       706          1  ...          2014.0  Mar,Jun,Sept,Dec
4050       706          2  ...          2014.0  Mar,Jun,Sept,Dec
2935       706          3  ...          2014.0  Mar,Jun,Sept,Dec
1820       706          4  ...          2014.0  Mar,Jun,Sept,Dec
705        706          5  ...          2014.0  Mar,Jun,Sept,Dec

[622 rows x 18 columns]

In [ ]:
def

True